/*html,body{*/
/*height: 100%;*/
/*-webkit-font-smoothing: subpixel-antialiased;*/
/*}*/

#container{
    margin-right: 3%;
}

/*#notebook_nav {*/
    /*background-color:#333333;*/
/*}*/
#mydesk{
    color:white;
    text-align: center;
    font-size:20px;
    font-family:"Times New Roman", Times, serif;
    margin-top: 10px;
}
#header{
    background: linear-gradient(#1f2124, #27292c);
    height:5%;
    padding-bottom: 10px;
    padding-left: 3%;
    padding-top: 10px;
}

i{
    color: #F8F2E2;
}

.showLeftPush i{
    color:black;
}
.showLeftPush:hover{
    background-color: lightgrey;
}

.header_button{
    border:#222;
    background-color: #333333;
    margin-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    width:4%;
    outline:none;
}
.header_button:hover {
    background-color: transparent;
}
.header_button:active {
    background-color: #333333;
}

#search_article{
    float:right;
    margin-right: 3%;
}

#btn_search_article:hover{
    background-color: transparent;
}
#btn_search_article:active {
    background-color: #333333;
}

#btn_addnotebook i{
    color: black;
}

.toolbar {
    border: none;
    padding:10px;
}
.text{
    border: none;
    outline:none;
    height:100%;
}

#article{
    width: 20%;
    height: 600px;
    float:left;
}
#article-list{
    border:1px solid #ccc;
    overflow: scroll;
    height: 100%;
}
#editor{
    width: 80%;
    float:right;
    height: 598px;
}
.article_item{
    background-color: white;
    height:60px;
    overflow:hidden;/*让超出宽度的部分隐藏*/
    text-overflow:ellipsis;/* 其他 浏览器 显示省略符号来代表被修剪的文本。*/
    -o-text-overflow:ellipsis; /* Opera 9-10 显示省略符号来代表被修剪的文本。*/
    white-space:nowrap;/*让文字不自动换行，无论CSS宽度设置多少，所有文字都在一行内显示*/
}

.article_createTime{

}

.article_content{

}


#btn_addnotebook{
    background-color: transparent;
    border:none;
    outline:none;
    float:right;
    padding-top: 5px;
    margin-right: 5px;
}

.my-drop-zone {
    border: dotted 3px lightgray;
    width:100%;
}
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */

/*图片放大遮罩层*/
.mask{
    display: none;
}
.mask-box{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 80;
    opacity: 0.5;
    background: #000;
}
.big-pic-wrap{
    position:fixed;
    top:50%;
    left:50%;
    margin-left: -460px;
    margin-top: -300px;
    width:920px;
    height:620px;
    padding:10px;
    z-index:90;
    background:#fff;
}
.bigPic{
    width:900px;
    height:600px;
}
/*关闭大图按钮*/
.close-pic{
    position:absolute;
    top:-5px;
    right:-5px;
    display:inline-block;
    width: 35px;
    height: 35px;
    cursor:pointer;
    border-radius:50% !important;
    background: #393A3C;
    text-align: center;
    line-height: 40px;
}
.close-pic:hover{
    background: #D43F27;
}
.close-pic>i{
    font-size: 25px;
    color:#fff;
}

.photo{
    width: 80%;
    height:40%;
    margin: 20px;
}

#profile{
    width:100%;
    height:16%;
}

#avator{
    width: 100%;
    border-radius:10px;
    width: 50px;
    height: 50px;
    align-self: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#btn_edit{
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 60%;
}


#btn_edit:hover{
    color:white;
}

#btn_edit:active{
    color:white;
}

#frienditem{
    margin-top: 10px;
}

#friend_avator{
    width: 40px;
    height: 40px;
    border-radius:10px;
}

#friend_email{
    color:lightgrey;
}

#friend_name{
    color: white;
}
#leftnav{
    width:4%;
    float:left;
}
#rightpart{
    width:96%;
    float:right;
}
#hideLeftPush{
    background-color: transparent;
    border:none;
    outline:none;
    float: right;
}

#hideLeftPush i:hover{
    color:red;
}

.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
}

