/*html,body{*/
/*height: 100%;*/
/*-webkit-font-smoothing: subpixel-antialiased;*/
/*}*/

#container{
    margin-left: 3%;
    margin-right: 3%;
}

/*#notebook_nav {*/
    /*background-color:#333333;*/
/*}*/
#mydesk{
    color:white;
    text-align: center;
    font-size:20px;
    font-family:"Times New Roman", Times, serif;
    margin-top: 10px;
}
#header{
    background: linear-gradient(#1f2124, #27292c);
    height:5%;
    padding-bottom: 10px;
}

i{
    color: #F8F2E2;
}

#showLeftPush{
    background-color: #333333;
    outline:none;
    border:none;
}

.header_button{
    border:#222;
    background-color: #333333;
    margin-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    width:4%;
    outline:none;
}
.header_button:hover {
    background-color: transparent;
}
.header_button:active {
    background-color: #333333;
}

#search_article{
    float:right;
    margin-right: 2%;
    margin-top: 0.3%;
}
/*#btn_search_article{*/
    /*border:#222;*/
    /*background-color: #333333;*/
    /*outline:none;*/
/*}*/
#btn_search_article:hover{
    background-color: transparent;
}
#btn_search_article:active {
    background-color: #333333;
}
#btn_addnotebook i{
    color: black;
}
#input_search_article{
    outline: none;
    border:none;
    background-color: #000;
}
#input_search_article:focus{
    background-color: lightgrey;
}
#input_search_article:active{
    background-color: lightgrey;
}

.toolbar {
    border: none;
    padding:10px;
}
.text {
    border:none;
    /*border: 1px solid #ccc;*/
    outline:none;
    height:100%;
}

#article{
    width: 20%;
    height: 640px;
    float:left;
    overflow: scroll;
}
#editor{
    width: 80%;
    float:right;
    height: 608px;
}
.article_item{
    background-color: white;
    height:60px;
    overflow:hidden;/*让超出宽度的部分隐藏*/
    text-overflow:ellipsis;/* 其他 浏览器 显示省略符号来代表被修剪的文本。*/
    -o-text-overflow:ellipsis; /* Opera 9-10 显示省略符号来代表被修剪的文本。*/
    white-space:nowrap;/*让文字不自动换行，无论CSS宽度设置多少，所有文字都在一行内显示*/
}

.article_createTime{

}

.article_content{

}

.search{

}
.bar7 form {
    height: 35px;
    display: inline-block;
}
.bar7 input {
    width: 150px;
    height: 80%;
    border-radius: 42px;
    border: 2px solid #324B4E;
    background: #F8F2E2; transition: .3s linear;
    outline:none;
}
.bar7 input:focus {
    width: 300px;
    height: 100%;
}
#btn_bar7{
    background: none;
    top: -2px;
    right: 0;
    border:none;
    outline:none;
}
#btn_bar7:before{
    content: "\f002";
    font-family: FontAwesome;
    color: #324b4e;
}
#notebook-list{
    padding-left:100px;
    overflow:scroll;
}
#btn_addnotebook{
    background-color: transparent;
    border:none;
    outline:none;
    float:right;
    padding-top: 5px;
    margin-right: 5px;
}

.my-drop-zone {
    border: dotted 3px lightgray;
    width:100%;
}
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */



.a-card {
    height: auto;
    border: 3px solid black;
    margin: 5px;
}

h2 {
    margin: 0;
    padding: 10px;
}

img {
    width: 100%;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-1 {
    width: 100%;
}

.deckgrid .column-1-4 {
    width: 25%;
}

.deckgrid[deckgrid]::before {
    content: '1 .column.column-1-1';
    font-size: 0;
    visibility: hidden;
}

@media screen and (min-width: 600px) {
    .deckgrid[deckgrid]::before {
        content: '4 .column.column-1-4';
    }
}


/*图片放大遮罩层*/
.mask{
    display: none;
}
.mask-box{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 80;
    opacity: 0.5;
    background: #000;
}
.big-pic-wrap{
    position:fixed;
    top:50%;
    left:50%;
    margin-left: -460px;
    margin-top: -300px;
    width:920px;
    height:620px;
    padding:10px;
    z-index:90;
    background:#fff;
}
.bigPic{
    width:900px;
    height:600px;
}
/*关闭大图按钮*/
.close-pic{
    position:absolute;
    top:-5px;
    right:-5px;
    display:inline-block;
    width: 35px;
    height: 35px;
    cursor:pointer;
    border-radius:50% !important;
    background: #393A3C;
    text-align: center;
    line-height: 40px;
}
.close-pic:hover{
    background: #D43F27;
}
.close-pic>i{
    font-size: 25px;
    color:#fff;
}

